h1{
    font-size: 50px;
    color: green;
}
body{
    font-family: 'Acme', sans-serif;
    margin:0;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
section{
    height: 500px;
}
.link-button{
    background-color:rgb(195, 170, 170) ;
    text-decoration: none;
    padding:10px 40px;
    border-radius: 10px;
    color:steelblue;
    font-weight: lighter;

}
#abcd{
    color: red;
}
.mafi-dream{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
#mnop{
    padding-left: 50px;
    border: chartreuse;
}
h3{
    color: red;    
}
.singel{
    box-shadow:5px 5px 20px gray;
    border-radius: 15px;
    height: 45%;
    padding: 20px;
    
}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;

}

#htc{
    border-left: 7px solid gold;
    border-image: linear-gradient(gold green);
    border-image-slice: 1;
    border-bottom:6px double red;
   
}

#htc2{
    border-right:7px  solid green;
    border-image: linear-gradient(gold,);
    border-image-slice: 1;
    border-top:6px double red;
}
footer{
    text-align: center;
}